.contendor-app {
    display:flex;
     justify-content:center;
      align-items:center;
       height:100vh
}

.suncontenedor-app{

    border:10px solid black; 
    height:300px;
     width:300px;
      align-items:center;
    justify-content:center;
    display:flex;
     border-radius:200px
}

.contenedor-img{
    margin-bottom:10px;  
}